#cart {
  margin-top: 10px;
}

.loading-icon {
  height:250px;
}

.loading-icon-container {
    width:100%;
    text-align: center;
}

.product-image {
  height:350px;
  margin-top: 15px;
  margin-bottom:25px;
}

.product-cell {

}

.product-cell-image {
  width:100%;
  height:auto;

}