.splash {
	width: 100%;
	height:550px;
	background-image: url('splash.jpg');
	background-size:cover;
}

.loading-icon {
  height:250px;
}

.loading-icon-container {
    width:100%;
    text-align: center;
}

.product-image {
  height:350px;
  margin-top: 15px;
  margin-bottom:25px;
}

.product-cell {

}

.product-cell-image {
  width:100%;
  height:auto;

}


#product-dropdown {
	line-height: 20px;
}

//bootstrap extensions
.dropdown-menu > li > a {
	line-height:25px;
	font-size: 1.5rem;
	color: #181938;
}


.dropdown-menu > li > a:hover {
    background-color: #181938;
    color:white;
    background-image: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }