<div class="product-container">
  <div class="title">
    <div class="row">


      <form class="form-inline">
        <div class="form-group form-group-lg">
          <label for="exampleInputName2">{{ category.title }}</label>
          

          <div class="input-group">
            <input class="input-lg" type="search" class="form-control" ng-model="searchProducts.title" id="exampleInputName2" placeholder="Filter Products" aria-describedby="addon">
            <span class="input-group-addon" id="addon"> <i class="glyphicon glyphicon-search"></i> </span>
          </div>
        </div>
      </form>


    </div>
  </div>
  <div class="row">
    <div ng-repeat="product in products | filter:searchProducts">
        <div class="col-md-3 product-cell">
          <div class="title">{{product.title}}</div>
          <div class="product-cell-image-container">
            <a ng-href="#/product/{{product.id}}">
              <img class="product-cell-image" ng-src="{{product.images[0]['url']['http']}}">
            </a>
          </div>
          <p>{{product.description}}</p>
          <span class="price pull-left">&#36;{{product.price}}</span>
          <a ng-click="addToCart(product)" class="btn-category pull-right">
            <span ng-show="!product.addStatus"><i class="glyphicon glyphicon-plus"></i> Add</span>
            <span ng-show="product.addStatus">{{product.addStatus}}</span>
          </a>
        </div>
    </div>
  </div>
</div>